
@import "spectre.css/src/spectre";
@import "spectre.css/src/spectre-icons";


.contact-book-title {
  margin-top: 2rem;
}

.contact-book-row {
  margin-top: 0.5rem; 
}

.contact-book-buttons {
  margin-top: 0.5rem; 
  display: flex;
  flex-direction: row-reverse;
}

.non-engage {
  text-decoration: line-through;
}